body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 0 3% 0 3%;
}

.title-page{
    font-size: 25px;
    color: #333333;
}

.nav-style{
    display: flex;
    align-items: center;
}

.title-page{
    color: #333333;
}

.navlink-style{
    font-size: 13px;
    margin: 0 12px;
    text-decoration: none;
    color: #060606;
    cursor: pointer;
    font-weight: 600;
}

.navlink-style:hover{
    opacity: .5;
}

.container-button{
    display: flex;
    align-items: center;
    font-weight: 600;
}

.button-style{
    padding: 18px 30px;
    background-color: black;
    color: white;
    border-radius: 6px;
    border: 0;
    cursor: pointer;
    font-size: 15px;
}

.div-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-men{
    width: 250px;
    margin: 45px 0 10px 0;
}

.div-text{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.text{
    font-size: 50px;
}

.text1{
    margin: 0%;
}

.text2{
    margin: 0%;
    text-decoration: underline 5px #FAE66A;
}

.text3{
    font-size: 18px;
    color: #060606;
    margin: 0 20% 0 20%;
}

@media (max-width: 415px){
    *{
        margin: 0;
        padding: 0;
    }
    header{
        display: block;
        margin: 30px 0;
        padding: 0 24px;
    }
    .nav-style{
        display: none;
    }
    .container-button{
        display: none;
    }
    .text{
        font-size: 30px;
    }
    .text3{
        font-size: 15px;
    }
}

